<suite name="Grid Test" parallel="tests">
  <test name="on Firefox">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.stockAcc.Examples.grid"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name="on chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.stockAcc.Examples.grid"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name="on ie">
  <parameter name="browser" value="ie"/>
    <classes>
      <class name="com.stockAcc.Examples.grid"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
